h1{
    font-weight:800;
    font-size:80px;
    font-family: 'Montserrat', sans-serif;

}
p{
    font-size:35px;
    font-weight:400
}
section{
    height: 100vh;
}

button{
    background-color: blue;
    
    color: white;
}
button:hover{
    background-color: green;
}